*.swatches
*.mel
Post/Adobe Premiere Pro Auto-Save/
Post/Adobe Premiere Pro Preview File/
*.pek
*.cfa
Post/Audio/
*.exr
*.abc
Maya/sourceimages/Girl_Body_blur1.png
Maya/sourceimages/
Post/Adobe Premiere Pro Preview Files/
Post/vergissmeinnicht.mov
vergissmeinnicht.mp4
